<h1>Editing Provider</h1>

<%= render 'form', provider: @provider %>

<div>
  <ul>
    <li><%= link_to 'Annuler', @provider, class: "btn btn-danger" %></li>
    <li><%= link_to 'Retour', providers_path, class: "btn btn-warning" %></li>
  </ul>
</div>
