
<div class="container">
<h1 class="text-center">Ajout d'un freelance</h1>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= render 'form', provider: @provider %>
    </div>
  </div>
</div>



